<%= form_tag(posts_path, :method => "get", id: "search-form", class: "search-form pull-right") do %>
	<div class="form-group">
		<%= text_field_tag :search, params[:search], placeholder: "Search Users", class: 'form-control' %> 
	</div> 
	<%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %> 
<% end %>