<!DOCTYPE html>
<html>
<head>
  <title>CdBlog</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> 
			<a class="navbar-brand" href="index.html"><h1>CDBlog<span>/Manger</span></h1></a>
		</div> 
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="<%= params[:controller] == 'admin/posts' ? 'active' : '' %>"><%= link_to "Posts", admin_posts_path %></li>
				<li class="<%= params[:controller] == 'admin/categories' ? 'active' : '' %>"><%= link_to "Categories", admin_categories_path %></li> 
				<li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>"><%= link_to "Users", admin_users_path %></li> 
			</ul> 
			<%= render 'partials/admin/search' %> 
		</div> 
	</div> 
</div> 

<section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <div id="user_nav" class="pull-right"> 
                <%= if current_user %>
                  Logged in as <%= current_user.email %>
                <% else %> 
                  <%= link_to "Log in", admin_login_path %>
                <% end %> 
              </div> 
              <div class="clearfix"></div> 
              <!-- Alerts & Messages -->
              <% if flash[:notice] %>
                <div class="alert alert-success"><%= flash[:notice] %></div>
              <% end %>

              <% if flash[:alert] %>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <footer>
      <p>Copyright &copy; 2014, rBlog | <a href="login.html">Admin Login</a></p>
    </footer>


</body>
</html>
