<h2>Edit Post</h2>

<%= form_for [:admin, @post] do |f| %>
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %> 
	<% end %> 

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %> 
	</div>

	<div class="form-group">
		<%= f.label :category %>
		<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select One"}, class: 'form-control' %>
	</div> 

	<div class="form-group">
		<%= f.label :author %> 
		<%= f.select :user_id, User.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select One"}, class: 'form-control' %> 
	</div>

	<div class="form-group">
		<%= f.label :tags %>
		<%= f.text_field :tags, class: 'form-control' %> 
	</div>

	<div class="form-group">
		<%= f.label :image %>
		<%= f.file_field :image, class: 'form-control' %> 
	</div>
	<% if @post.image.exists? %>
		<%= image_tag @post.image.url, width: '100%' %>
	<% end %> 
	<br /> 

	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_field :body, class: 'form-control' %> 
	</div>
	<br>
	<%= f.submit "Submit", class: 'btn btn-primary'%>
	<%= link_to "Cancel", admin_posts_path, class: 'btn btn-default'%>

<% end %> 

