body{
	font-family:'Arial', sans-serif;
	background:$background-color;
	line-height:1.6em;
}

.navbar{
	overflow:auto;
	min-height:100px;
	background:$primary-color;
	color:#fff;
	font-size:18px;
	border:0;
	border-radius: 0;
}

.navbar h1{
	margin:10px 0 0 0;
	padding:0;
}

.navbar a{
	color:#fff !important;
}

.navbar a:hover{
	color:#ff953f;
}

.navbar a.navbar-brand:hover{
	color:#fff !important;
}

.navbar ul{
	margin-top:22px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:none;
	color:$secondary-color !important;
}

.search-form{
	margin-top:30px;
}

.search-form input[type='text']{
	border-radius:0;
	height:38px;
}

.search-form .form-group {
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle; 
}

.search-form .btn{
	border:0;
	height:38px;
	margin-top:0;
	border-radius: 0;
	margin-left:-5px;
}

.search-form .form-control{
	background:#f4f4f4;
	border:1px solid #eee;
}

.btn{
	border:none;
	border-radius:0;
}

.btn-primary{
	background:$primary-btn-color;
}

.btn:hover{
	background:#ccc;
}

.post{
	border:1px #ccc solid;
	background:#fff;
	margin-bottom:30px;
}

.post img{
	width:100%;
}

.post-content{
	padding:20px;
	box-sizing:border-box;
}

.post h3{
	margin:0;
	padding:0;
}

small{
	background:$primary-color;
	color:#fff;
	display:block;
	margin:10px 0;
	padding:5px 10px;
}

.comments img{
	width: 100%; 
}

footer{
	background:$primary-color;
	color:#fff;
	text-align: center;
	height:60px;
	padding-top:20px;
	margin-top:30px;
}

