<h2 class="page-header">Manage Users <%= link_to "Create New", new_admin_user_path, class: "btn btn-success pull-right" %></h2>
<% if @users.exists? %>
	<table class"table table-striped">
		<tr>
			<th>Name</th>
			<th>Email</th> 
			<th>Create Date</th> 
			<th>Actions</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td> 
				<td><%= user.created_at.to_time.strftime('%B %e at %l:%M %p') %></td> 
				<td><%= link_to "Edit", edit_admin_user_path(user), class: 'btn btn-primary' %> <%= link_to 'Delete', admin_user_path(user), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are your sure?'} %></td> 
			</tr> 
		<% end %>
	</table> 
	<%= will_paginate @users %>
<% else %> 
	<p>No users exist.</p> 
<% end %> 

