<!DOCTYPE html>
<html>
<head>
  <title>CdBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><h1>CDBlog</h1></a>
		</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li> 
			<li><%= link_to "Contact", contact_path %></li> 
		</ul> 
		<%= render 'partials/search' %> 
	</div> 
	</div>
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<% if flash[:notice] %>
					<div class="alert alert-success"><%= flash[:notice] %></div> 
				<% end %> 

				<% if flash[:alert] %>
					<div class="alert alert-danger"><%= flash[:alert] %></div> 
				<% end %> 
				<%= yield %>
			</div> 
			<div class="col-md-4">
				<%= render 'partials/sidebar' %>
			</div>
		</div>
	</div>
</section>

<%= render 'partials/footer' %> 

</body>
</html>
